 <header>
   <nav>
      <a class="name" href="http://127.0.0.1:3333/">BLOG</a>
      <a href="http://127.0.0.1:3333/login">Login</a>
      <a href="http://127.0.0.1:3333/about">About</a>
      <a href="http://127.0.0.1:3333/article">Articles</a>
      <a href="http://127.0.0.1:3333/recipes">Recipes</a>
      </nav>
  </header>