@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
  width: 100vw;
  height: 100vh;
}

header {
  background-color: darkcyan;
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

a {
  color: beige;
  font-size: 20px;
}

.name {
  font-size: 90px;
  text-decoration: none;
}

/* footer {
  background-color: black;
  width: 100vw;
  height: 30px;
  margin-bottom: 0%;
} */

.art {
  font-size: 20px;
  margin: 10px;
  margin-bottom: 20px;
  width: 900px;
  border: 1px solid paleturquoise;
}